
<div class="figure flex-container-single">
  <figure class="figure  figure--{{ include.position | default: 'center' }} allow-contextmenu">
    <img class="image" src="{{ include.image }}" alt="{{ include.alt | default: include.caption }}" {{ include.width ? include.width | prepend: 'width="' | append: '"' }} {{ include.height ? include.height | prepend: 'height="' | append: '"' }}>
    {% if include.caption %}<figcaption class="caption">{{ include.caption }}</figcaption>{% endif %}
  </figure>
</div>

<!-- 全屏显示的容器 -->
<div id="fullscreen-container" class="fullscreen-container">
  <img id="fullscreen-image" src="{{ include.image }}" alt="{{ include.alt | default: include.caption }}" />
</div>

<style>
  @keyframes clickAnimation {
    0% {
      transform: scale(1); /* 开始时大小为 1 */
    }
    30% {
      transform: scale(0.9);
    }
    60% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1); /* 最后恢复到原始大小 */
    }
  }

  img:active {
    animation: clickAnimation 0.5s cubic-bezier(0.56, -0.37, 0.46, 1.58);
  }
</style>
