
<div class="figure flex-container">
  <figure class="figure  figure--{{ image.position | default: 'center' }} allow-contextmenu">
    <img class="image" src="{{ image.src }}" alt="{{ image.alt | default: image.caption }}" {{ image.width ? image.width | prepend: 'width="' | append: '"' }} {{ image.height ? image.height | prepend: 'height="' | append: '"' }}>
    {% if image.caption %}<figcaption class="caption">{{ image.caption }}</figcaption>{% endif %}
  </figure>
</div>

<!-- 全屏显示的容器 -->
<div id="fullscreen-container" class="fullscreen-container">
  <img id="fullscreen-image" src="{{ image.src }}" alt="{{ image.alt | default: image.caption }}" />
</div>


  