
<div class="figure flex-container">
  <figure class="figure  figure--{{ include.position | default: 'center' }} allow-contextmenu">
    <img class="image" src="{{ include.image }}" alt="{{ include.alt | default: include.caption }}" {{ include.width ? include.width | prepend: 'width="' | append: '"' }} {{ include.height ? include.height | prepend: 'height="' | append: '"' }}>
    {% if image.caption %}<figcaption class="caption">{{ include.caption }}</figcaption>{% endif %}
  </figure>
</div>

<!-- 全屏显示的容器 -->
<div id="fullscreen-container" class="fullscreen-container">
  <img id="fullscreen-image" src="{{ include.image }}" alt="{{ include.alt | default: include.caption }}" />
</div>

